/* Academy Pro Front Page
Loads on the front page */

/* Front Page
---------------------------------------------------------------------------------------------------- */

.front-page .site-inner {
	background-color: transparent;
	clear: both;
	padding: 0;
	position: relative;
}

.front-page.full-width-content .content {
	max-width: none;
	width: 100%;
}

.front-page .site-inner::after,
.front-page .site-inner::before {
	display: none;
}

.front-page .content .entry {
	background: none;
}

.front-page .widget-title {
	font-size: 36px;
	font-size: 3.6rem;
}

/* Front Page Hero
---------------------------------------------------------------------------------------------------- */
.hero-section {
	z-index: 3;
	padding-bottom: 80px;
	position: relative;
}

.hero-section-column.left {
	padding-right: 80px;
}

.hero-title {
	font-size: 54px;
	font-size: 5.4rem;
	line-height: 1.2;
}

.hero-section .button.primary {
	margin-right: 30px;
}

.hero-section-column.right {
	position: relative;
	padding-top: 20px;
}

.hero-section-column.right::before {
	background: transparent;
	border: 4px solid #e22c2f;
	border-radius: 10px;
	content: "";
	display: inline-block;
	left: 20px;
	height: calc(100% - 20px);
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.hero-video-container {
	border-radius: 10px;
	box-shadow: 0 19px 70px 0 rgba(0, 0, 0, 0.12);
	overflow: hidden;
}

.hero-video-container .wp-video,
.hero-video-container .mejs-container {
	width: 100% !important;
	/* Forces video to take up all the space */
}

.hero-image {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 19px 70px 0 rgba(0, 0, 0, 0.12);
}

.hero-section-logos {
	clear: both;
}

.hero-section-logos.wrap {
	padding-top: 80px;
}

.hero-logos-header {
	color: #555;
	display: inline-block;
	font-family: 'Merriweather', serif;
	font-size: 16px;
	font-size: 1.6rem;
	font-style: italic;
	font-weight: normal;
	margin: 0 60px 0 0;
}

.hero-section-logo {
	margin: 0 20px;
}

.hero-section-logos img {
	margin: 0 20px 0;
	max-height: 40px;
	max-width: 160px;
	text-align: center;
	vertical-align: bottom;
}

/* Front Page 1
--------------------------------------------- */

.front-page-1 {
	background-color: #f5f5f5;
	box-sizing: border-box;
	min-height: 212px;
	position: relative;
	width: 100%;
}

.front-page-1 .wrap {
	padding-bottom: 0;
	padding-top: 80px;
}

.front-page-1::before {
	background-color: #f5f5f5;
	content: "";
	height: 150%;
	transform: skewY(-5deg);
	position: absolute;
	top: -240px;
	width: 100%;
	z-index: -1;
}

.front-page-1::after {
	bottom: -140px;
	background-color: #f5f5f5;
	content: "";
	height: 150%;
	transform: skewY(-5deg);
	position: absolute;
	width: 100%;
	z-index: -1;
}

.front-page-1 .flexible-widgets .widget {
	margin-bottom: 40px;
}

.front-page-1 .widget-halves .widget {
	width: 33.33%;
}

.front-page-1 .widget-halves .widget:nth-of-type(2n) {
	width: 66.67%;
}


/* Front Page 2
--------------------------------------------- */

.front-page-2 {
	background-color: #f5f5f5;
	position: relative;
}

.front-page-2::after,
.front-page-2::before {
	bottom: 40%;
	content: "";
	background-color: #f5f5f5;
	height: 100%;
	transform: skewY(-5deg);
	position: absolute;
	width: 100%;
	z-index: -1;
}

.front-page-2::after {
	bottom: -80px;
}

.front-page-2 .wrap {
	padding-bottom: 0;
	padding-top: 40px;
}

.front-page-2 .widget {
	margin-bottom: 80px;
}

.front-page-2 i::before {
	color: #ccc;
	display: block;
	font-size: 70px;
	font-size: 7rem;
	margin-bottom: 40px;
}


/* Front Page 3
--------------------------------------------- */

.front-page-3 {
	background-color: #f5f5f5;
	margin-bottom: 40px;
	position: relative;
}

.front-page-3::after,
.front-page-3::before {
	bottom: 40%;
	content: "";
	background-color: #f5f5f5;
	height: 100%;
	transform: skewY(-5deg);
	position: absolute;
	width: 100%;
	z-index: -1;
}

.front-page-3::after {
	bottom: -80px;
}

.front-page-3 .widget-area::before {
	background-color: #f5f5f5;
	border-bottom: 2px solid #e22c2f;
	content: "";
	display: block;
	margin: 0 auto;
	padding-top: 80px;
	width: 48px;
}

.front-page-3 .widget {
	text-align: center;
}

.front-page-3 .widget-title {
	margin-bottom: 25px;
}


/* Front Page 4
--------------------------------------------- */

.front-page-4 {
	position: relative;
}

.front-page-4 .wrap {
	padding-top: 20px;
}

.front-page-4::after {
	bottom: 40%;
	content: "";
	background-color: #f5f5f5;
	height: 100%;
	transform: skewY(-5deg);
	position: absolute;
	width: 100%;
	z-index: -1;
}

.front-page-4 .flexible-widgets.widget-area .widget:first-child {
	text-align: center;
	width: 100%;
}

.front-page-4 .flexible-widgets.widget-area .widget:first-child .widget-wrap {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
}

.front-page-4 .flexible-widgets .widget .widget-wrap {
	background-color: #fff;
	box-shadow: 0 35px 70px 0 rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	padding: 45px 60px 40px 75px;
}

.front-page-4 .flexible-widgets .widget {
	padding-left: 10px;
	padding-right: 10px;
}

.front-page-4 .flexible-widgets.widget-halves .widget:nth-child(2n+1),
.front-page-4 .flexible-widgets.widget-thirds .widget:nth-child(3n+1) {
	clear: none;
}

.front-page-4 .flexible-widgets.widget-halves .widget:nth-child(even),
.front-page-4 .flexible-widgets.widget-thirds .widget:nth-child(3n+2) {
	clear: left;
	float: left;
}

.front-page-4 .widget p:first-child {
	color: #666;
	font-family: 'Merriweather', serif;
	font-size: 15px;
	font-size: 1.5rem;
	font-style: italic;
	font-weight: 400;
	line-height: 1.3;
	margin: 0 0 25px;
}

.front-page-4 blockquote {
	font-size: 18px;
	font-size: 1.8rem;
	margin: 0;
}

.front-page-4 blockquote::before {
	color: #bbb;
	display: block;
	font-size: 30px;
	font-size: 3rem;
	left: -40px;
}

.front-page-4 blockquote cite {
	line-height: 45px;
	vertical-align: middle;
}

.front-page-4 blockquote cite img {
	border-radius: 100px;
	max-height: 45px;
}


/* Front Page 5
--------------------------------------------- */

.front-page-5 .flexible-widgets .wrap {
	padding: 80px;
}

.front-page-5 .flexible-widgets .widget.widget_media_image {
	padding: 0;
}

.front-page-5 .widget.widget_media_image .widget-wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	position: relative;
}

.front-page-5 .widget.widget_media_image .widget-wrap::before {
	background: #fff;
	border: 4px solid #e22c2f;
	border-radius: 10px;
	content: "";
	display: block;
	left: 20px;
	height: calc(100% - 12px);
	position: absolute;
	top: -20px;
	width: 100%;
	z-index: -1;
}

.front-page-5 .widget.widget_media_image img {
	border-radius: 10px;
	box-shadow: 0 19px 70px 0 rgba(0, 0, 0, 0.12);
}


/* Front Page 6
--------------------------------------------- */
.front-page-6 {
	box-sizing: border-box;
	margin-bottom: 40px;
	position: relative;
	width: 100%;
}

.front-page-6::before {
	content: "";
	background-color: #f5f5f5;
	height: 105%;
	transform: skewY(-5deg);
	position: absolute;
	top: -140px;
	width: 100%;
	z-index: -1;
}

.front-page-6 .enews {
	margin-left: auto;
	margin-right: auto;
	max-width: 80%;
}


/* Media Queries
---------------------------------------------------------------------------------------------------- */

@media only screen and (max-width: 1360px) {

	.front-page .site-inner {
		max-width: 100%;
	}

	.hero-title {
		font-size: 50px;
		font-size: 5rem;
	}

	.hero-logos-header {
		margin: 0 30px 0 0;
	}

	.hero-section-logos img {
		margin: 0 10px;
		max-width: 135px;
	}

}

@media only screen and (max-width: 1200px) {

	.hero-section-column.left {
		padding-right: 40px;
	}

	.hero-title {
		font-size: 40px;
		font-size: 4rem;
	}

	.front-page-4 .flexible-widgets.widget-thirds .widget:nth-child(2n+0) .widget-wrap,
	.front-page-4 .flexible-widgets.widget-thirds .widget:nth-child(3n+0) .widget-wrap {
		padding: 30px 30px 30px 45px;
	}

	.front-page-4 blockquote::before {
		left: -20px;
	}

}

@media only screen and (max-width: 1023px) {

	.hero-section {
		margin: 0 auto;
		max-width: 720px;
		text-align: center;
	}

	.hero-section .one-half {
		float: none;
		width: 100%;
	}

	.hero-section-column.left {
		padding: 0 0 40px 0;
	}

	.hero-description {
		max-width: 680px;
	}

	.hero-section-logos {
		text-align: center;
	}

	.hero-section-logos.wrap {
		padding-bottom: 20px;
	}

	.hero-logos-header {
		display: block;
		margin-bottom: 20px;
		text-align: center;
	}

	.hero-section-logos img {
		margin: 0 10px 20px 10px;
		max-width: 160px;
	}

	.front-page-1 .widget-halves .widget,
	.front-page-1 .widget-halves .widget:nth-of-type(2n) {
		width: 100%;
	}

	.front-page-3,
	.front-page-6 {
		margin-bottom: 0;
	}

	.front-page-4 .flexible-widgets.widget-area .widget:nth-child(n) {
		clear: both;
		float: none;
	}

	.front-page-4 .flexible-widgets .widget .widget-wrap {
		padding: 50px 30px 40px 30px;
	}

	.front-page-4 blockquote::before {
		text-align: left;
	}

	.front-page-4 blockquote cite img {
		display: block;
		float: none;
		margin: 0 auto;
		text-align: center;
	}

	.front-page-5 .flexible-widgets .wrap {
		padding-left: 0;
		padding-right: 0;
	}

}

@media only screen and (max-width: 860px) {

	.hero-section-column.left {
		margin-bottom: 40px;
	}

	.hero-title {
		font-size: 36px;
		font-size: 3.6rem;
	}

	.hero-section .button.primary {
		width: 100%;
		margin: 0 0 10px 0;
	}

	.hero-section-column.right {
		padding-top: 10px;
	}

	.hero-section-column.right::before {
		border-width: 3px;
		height: calc(100% - 10px);
		left: 10px;
	}

	.front-page-5 .flexible-widgets .wrap {
		padding-left: 5%;
		padding-right: 5%;
	}

}



/* soliquy styles */

#soliloquy-container-22 .soliloquy-caption .soliloquy-caption-inside .wrap {
	margin: 0 auto !important;
	max-width: 50%;
}

@media only screen and (max-width: 1024px) {
	#soliloquy-container-22 .soliloquy-caption .soliloquy-caption-inside .wrap {
		max-width: 100%;
	}
}

#soliloquy-container-22 .soliloquy-pager-item {
	margin: 0 0 0 7px !important;
}

#soliloquy-container-22 .soliloquy-caption {
	position: absolute !important;
	display: block !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 100 !important;
}

#soliloquy-container-22 .soliloquy-caption .soliloquy-caption-inside {
	display: table !important;
	width: 100% !important;
	height: 100% !important;
	padding: 20px 0 35px !important;
	text-align: start !important;
}


#soliloquy-container-22 .soliloquy-caption-inside .soliloquy-caption-wrap {
	z-index: 100;
	width: 32%;
	position: absolute;
	bottom: 0;
	top: auto;
	height: 100%;
	display: block;
	text-decoration: none;
	padding: 50px 0;
}



#soliloquy-container-22 .soliloquy-caption-inside .left {
	left: 50%;
}

#soliloquy-container-22 .soliloquy-caption-inside .right {
	right: 50%;
}

@media only screen and (max-width: 1424px) {
	#soliloquy-container-22 .soliloquy-caption-inside .soliloquy-caption-wrap {
		width: 60%;
		padding: 0;
	}

	#soliloquy-container-22 .soliloquy-caption-inside .left {
		left: 30%;
	}

	#soliloquy-container-22 .soliloquy-caption-inside .right {
		right: 30%;
	}
}

@media only screen and (max-width: 1100px) {
	#soliloquy-container-22 .soliloquy-caption-inside .soliloquy-caption-wrap {
		z-index: 100;
		width: 100%;
		position: absolute;
		bottom: 0;
		top: auto;
		height: 100%;
		display: block;
		text-decoration: none;
		padding: 50px 30px;
	}

	#soliloquy-container-22 .soliloquy-caption-inside .left {
		left: 0;
	}

	#soliloquy-container-22 .soliloquy-caption-inside .right {
		right: 0;
	}

	#soliloquy-container-22 .soliloquy-caption p {
		display: none !important;

	}
}


#soliloquy-container-22 .soliloquy-caption h1 {
	color: #fff !important;
	font-size: 26px !important;
	margin: 0 0 20px !important;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important;
	line-height: 1.25em !important;
	letter-spacing: normal !important;
	text-transform: none !important;
}

#soliloquy-container-22 .soliloquy-caption p {
	color: #fff !important;
	margin: 0 0 50px !important;

}

#soliloquy-container-22 .soliloquy-caption a.soliloquy-button {
	color: #fff !important;
	font-weight: bold !important;
	text-transform: uppercase !important;
	letter-spacing: 2px !important;
	background-color: #1d4f91 !important;
	border: 3px solid #fff !important;
	padding: 15px 20px !important;
	font-size: 14px !important;
}